template#templatePilot
	div.Pilot
		img.Pilot-portrait

		a.Pilot-summary(target='_blank')
			span.Pilot-status
			span.Pilot-name

		div.Pilot-affiliation
			span.Pilot-corp
			span.Pilot-alliance
			span.Pilot-militia

		div.Pilot-combat-stats
		div.Pilot-ship-stats
