template#templateCombatStats
	div.CombatStats
		button.CombatStats-fetch-stats(type='button') Get combat stats
		a.CombatStats-solo(target='_blank' title='Solo kills')
		a.CombatStats-gangs(target='_blank' title='Gang kills')
		a.CombatStats-losses(target='_blank' title='Losses')
