.ShipStats
	display     flex
	width       18rem
	align-items stretch

	&.ready
		.ShipStats-ships
			display flex

		.ShipStats-fetch-stats
			display none


.ShipStats-fetch-stats
	display    flex
	font-size  0.8rem
	flex-basis 100%


.ShipStats-ships
	align-items stretch
	display     none
	flex-basis  100%
